# top-most EditorConfig file
root = true

# Unit-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Trim trailing whitespaces
trim_trailing_whitespace = true

# Tab indentations
indent_style = tab
